extends ./layout

block body
	
	h3.ui.capitalize.no-grutters= pageTitle 
	p= proyectoSelected.name

	pre= vardump(proyectoSelected)

	.ui.large.buttons
		a.ui.button(href=``) Eliminar
		.or(data-text="o")
		a.ui.positive.button(href=`/proyectos/${proyectoSelected.url}/editar`) Actualizar
